@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body, html {
    padding: 0;
    margin: 0;
}

header {
    z-index: 1;
    box-shadow: 0 1px 5px gray;
}

:root {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    --projects-gap: 20px;
    --sidebar-gap: 0 20px; 
    --primary-color: #059669;
    --secondary-color: #d1fae5;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 6fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main-content";
}

/* 

<--------------- Header --------------->

*/

.header {
    grid-area: header;
    width: 95%;
    margin: 20px auto 0;
}

.header-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0 50px;
}

.header-search {
    display: grid;
    grid-template-columns: min-content auto;
    gap: 0 10px;
    align-items: center;
}

.header-search img {
    height: 27px;
    width: auto;
}

.header-search input[type="search"] {
    appearance: none;
    border-radius: 20px;
    border: none;
    background-color: var(--secondary-color);
    height: 30px;
    width: 80%;
    padding: 20px 0 20px 10px;
}

.header-user {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    justify-self: end;
    font-weight: bold;
}

.header-user img:last-of-type {
    height: 40px;
    width: auto;
}

.header-msg {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 0 20px;
    font-weight: bold;
    margin: 20px 0;
}

.header-msg p {
    margin: 0;
}

.header-msg p:first-of-type {
    font-size: 0.8rem;
}

.header-msg p:last-of-type {
    font-size: 1.2rem;
}

.header-msg img {
    height: 60px;
    width: auto;
}

.header-bell {
    justify-self: end;
}

.header-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}

.header-btns {
    display: grid;
    grid-template-columns: repeat(3, 75px);
    align-items: center;
    justify-content: end;
    gap: 0 75px;
}

.header-btns button {
    background-color: var(--primary-color);
    color: white;
    border-radius: 20px;
    border: none;
    height: 40px;
    width: calc(100% + 20px);
    font-weight: bold;
    font-size: 0.8rem;
}

/* 

<--------------- Sidebar --------------->

*/

.sidebar {
    grid-area: sidebar;
    background-color: var(--primary-color);
    color: white;
    padding-left: 20px;
    font-weight: bold;
}

.sidebar > span {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: var(--sidebar-gap);
    margin-top: 20px;
    font-size: 1.5rem;
}

.sidebar ul {
    list-style: none;
    display: grid;
    margin: 50px 0;
    gap: 20px 0;
    padding: 0;
}

.sidebar-options ul li {
    display: grid;
    grid-template-rows: auto;
    grid-auto-flow: column;
    justify-content: start;
    gap: var(--sidebar-gap);
    align-items: end;
}

/* 

<--------------- Main Content --------------->

*/

.main-content {
    grid-area: main-content;
}

.main-content {
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: var(--secondary-color);
}

.main-content > div > p {
    margin-left: var(--projects-gap);
}

.main-projects {
    display: grid;
    grid-auto-rows: minmax(210px, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: var(--projects-gap);
    margin: 0 var(--projects-gap);
}

.project-card {
    background-color: white;
}

.main-sidebar {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    font-size: 0.7rem;
}

.main-announcements {
    margin-right: 50px;
}