@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    --projects-gap: 20px;
    --sidebar-gap: 0 20px; 
    --primary-color: #059669;
    --secondary-color: #d1fae5;
    --card-shadow: 2px 2px 7px lightgray;
}

body, html {
    padding: 0;
    margin: 0;
}

header {
    z-index: 1;
    box-shadow: var(--card-shadow)
}

hr {
    border: 1px solid lightgray;
    opacity: 0.5;
}

.container {
    box-sizing: border-box;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main-content";
}

/* 

<--------------- Header --------------->

*/

.header {
    grid-area: header;
    width: 95%;
    margin: 20px auto 0;
}

.header-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0 50px;
}

.header-search {
    display: grid;
    grid-template-columns: min-content auto;
    gap: 0 10px;
    align-items: center;
}

.header-search img {
    height: 27px;
    width: auto;
}

.header-search input[type="search"] {
    appearance: none;
    border-radius: 20px;
    border: none;
    background-color: var(--secondary-color);
    height: 30px;
    width: 80%;
    padding: 20px 0 20px 10px;
}

.header-user {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    justify-self: end;
    font-weight: bold;
}

.profile-pic {
    height: 40px;
    width: auto;
}

.header-msg {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 0 20px;
    font-weight: bold;
    margin: 20px 0;
}

.header-msg p {
    margin: 0;
}

.header-msg p:first-of-type {
    font-size: 0.8rem;
}

.header-msg p:last-of-type {
    font-size: 1.2rem;
}

.header-msg img {
    height: 60px;
    width: auto;
}

.header-bell {
    justify-self: end;
}

.header-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}

.header-btns {
    display: grid;
    grid-template-columns: repeat(3, 75px);
    align-items: center;
    justify-content: end;
    gap: 0 75px;
}

.header-btns button {
    background-color: var(--primary-color);
    color: white;
    border-radius: 20px;
    border: none;
    height: 40px;
    width: calc(100% + 20px);
    font-weight: bold;
    font-size: 0.8rem;
}

/* 

<--------------- Sidebar --------------->

*/

.sidebar {
    grid-area: sidebar;
    background-color: var(--primary-color);
    color: white;
    padding-left: 20px;
    font-weight: bold;
}

.sidebar > span {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: var(--sidebar-gap);
    margin-top: 20px;
    font-size: 1.5rem;
}

.sidebar ul {
    list-style: none;
    display: grid;
    margin: 50px 0;
    gap: 20px 0;
    padding: 0;
}

.sidebar-options ul li {
    display: grid;
    grid-template-rows: auto;
    grid-auto-flow: column;
    justify-content: start;
    gap: var(--sidebar-gap);
    align-items: end;
}

/* 

<--------------- Main Content --------------->

*/

.main-content {
    grid-area: main-content;
}

.main-content {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);
    background-color: var(--secondary-color);
}

.main-content > div > p {
    margin-left: var(--projects-gap);
}

.main-projects {
    display: grid;
    grid-auto-rows: minmax(200px, 1fr);
    grid-template-columns: repeat(2, 1fr);
    align-content: space-around;
    gap: var(--projects-gap);
    margin: 0 var(--projects-gap);
}

.main-content-left,
.main-sidebar {
    padding-bottom: 60px;
}

/* 

<--------------- Project Card --------------->

*/

.project-card {
    background-color: white;
    padding-left: 40px;
    border-left: 8px solid #34d399;
    border-radius: 10px;
    box-shadow: var(--card-shadow);
}

.project-card div {
    display: grid;
    justify-content: end;
    grid-auto-flow: column;
    gap: 0 20px;
    margin-right: 20px;
}

.project-card p {
    width: 80%;
}

.project-card p:first-of-type {
    font-weight: bold;
}

.project-card p:last-of-type {
    font-size: 0.9rem;
    color: grey;
}

/* 

<--------------- Main Sidebar --------------->

*/

.main-sidebar, 
.main-content-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main-sidebar > div > p:first-of-type,
.main-announcements div p:first-of-type {
    font-weight: bold;
}

.main-announcements div p,
.main-trending div p {
    font-size: 0.7rem;
}

.main-announcements {
    background-color: white;
    margin-right: 50px;
    padding: 5px 20px;
    border-radius: 10px;
    box-shadow: var(--card-shadow);
}

.main-trending {
    background-color: white;
    margin-right: 50px;
    border-radius: 10px;
    display: grid;
    gap: 20px 0;
    padding: 20px;
    box-shadow: var(--card-shadow);
    align-self: end;
}

.main-trending > div {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 0 20px;
}

.main-trending > div > div > p {
    margin: 0;
}

.main-trending > div > div > p:first-of-type {
    font-weight: 500;
}

.main-trending > div > div > p:last-of-type {
    color: grey;
}