body, html {
    padding: 0;
    margin: 0;
}

:root {

}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 8fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main-content";
}

.header {
    grid-area: header;
}

.header-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0 50px;
}

.header-search {
    display: grid;
    grid-template-columns: 24px auto;
    gap: 0 10px;
}

.header-search input[type="search"] {
    
}

.header-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}

.header-btns {
    display: grid;
    grid-template-columns: repeat(3, 75px);
    align-items: center;
    justify-content: end;
    gap: 0 20px;
}

.sidebar {
    grid-area: sidebar;
}

.sidebar > span {
    padding-left: 20px;
}

.sidebar ul {
    list-style: none;
    padding-left: 20px;
    display: grid;
    margin: 50px 0;
    gap: 20px 0;
}

.main-content {
    grid-area: main-content;
}